@import "tailwindcss";


body {
  font-family: 'Cairo', 'sans-serif';
  background: white;
}

/* genral config */
@theme {
  --color-main: #4b3621;
  --color-darkMain: #000;
  --breakpoint-3xl: 120rem;
}

@utility custom-container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant lg {
    padding-inline: 2rem;
  }

  @variant xl {
    padding-inline: 3rem;
  }

  @variant 2xl {
    padding-inline: 6rem;
    max-width: var(--breakpoint-3xl);
  }
}
/* كل الصور تصغير ورفع شوية */
.swiper-slide {
  transition: transform 0.3s ease;
  transform: scale(0.7)  !important;
  filter: grayscale(20%);
}

/* الصورة النشطة تكون بالحجم الطبيعي وبدون رفع */
.swiper-slide-active {
  transform: scale(1.5)  !important;
  opacity: 1;
  filter: none;
  z-index: 10;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #ddd;
  opacity: 1;
  border-radius: 50%;
  margin: 0 6px !important;
  transition: background 0.3s ease;
}
/* الدائرة النشطة بتدرج لوني */
.swiper-pagination-bullet-active {
  background: linear-gradient(45deg, #f97316, #f59e0b); /* برتقالي تدرج */
  box-shadow: 0 0 8px rgba(249, 115, 22, 0.6);
}